<!DOCTYPE html>
<html>
<head>
	<title>Sistema de Notas</title>
	 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
{% if form %}
<div class="container">
  <div class="p-3 mb-2 bg-primary text-white">
    <form action="{% url 'grade_post' %}" method="POST">
      {% csrf_token %}
      <div class="input-group">
        <select class="custom-select" name="{{ form.value.html_name }}">
          {% for val in form.value %}
            {{ val }}
          {% endfor %}
		</select>
		   <select class="custom-select" name="{{ form.subject.html_name }}">
          {% for sub in form.subject %}
            {{ sub }}
          {% endfor %}
		</select>
		   <select class="custom-select" name="{{ form.student.html_name }}">
          {% for stu in form.student %}
            {{ stu }}
          {% endfor %}
        </select>
        <div class="input-group-append">
            <input class="btn btn-secondary" type="submit" value="Agregar nota">
        </div>
      </div>
    </form>
  </div>
</div>
{% endif %}
</body>
</html>